<div class="card">
  <div class="card__body">
    <div class="card__image">
      <img [src]="product.thumbnail" [alt]="product.title" />
    </div>
    <div class="card__title">
      {{ product.title }}
    </div>
    <div class="card__price">
      {{ product.price | currency }}
    </div>
    <div class="card__actions">
      <button
        *ngIf="!addedToCart"
        class="btn btn--primary"
        (click)="onClickAddToCart($event)"
      >
        Add to cart
      </button>

      <button
        *ngIf="addedToCart"
        class="btn btn--primary"
        (click)="onClickRemoveFromCart($event)"
      >
        Remove from cart
      </button>
    </div>
  </div>
</div>
