<div *ngIf="vm$ | async as vm" class="pagination">
  <ng-container *ngIf="!vm.isOutOfRange; else outOfRange">
    <div class="pagination__size">
      <select (change)="onChangeSize($event)">
        <option
          *ngFor="let pageSize of vm.pageSizes"
          [value]="pageSize"
          [selected]="vm.size === pageSize"
        >
          {{ pageSize }}
        </option>
      </select>
    </div>
    <div class="pagination__pages">
      <button
        class="pagination__nav"
        [disabled]="vm.isFirstPage"
        (click)="onClickPrevious()"
      >
        <
      </button>
      <button
        *ngFor="let pageNumber of vm.pages"
        class="pagination__item"
        [class.active]="pageNumber === vm.page"
        (click)="onClickPage(pageNumber)"
      >
        {{ pageNumber + 1 }}
      </button>
      <button
        class="pagination__nav"
        [disabled]="vm.isLastPage"
        (click)="onClickNext()"
      >
        >
      </button>
    </div>
  </ng-container>

  <ng-template #outOfRange>
    <div class="pagination__empty">
      <span>Page is out of range</span>
      <button (click)="onClickPage(0)">Goto first page</button>
    </div>
  </ng-template>
</div>
