<div class="card">
  <div class="card__body">
    <div class="card__image">
      <img [src]="item.product.thumbnail" [alt]="item.product.title" />
    </div>
    <div class="card__title">
      {{ item.product.title }}
    </div>
    <div class="card__price">
      {{ item.product.price | currency }}
    </div>
    <div class="card__actions">
      <button (click)="onDecreaseQuantity()">-</button>
      <span>{{ item.quantity }}</span>
      <button (click)="onIncreaseQuantity()">+</button>
    </div>

    <p>Item total price: {{ item.quantity * item.product.price }}</p>
  </div>
</div>
