<div
  *ngIf="productDetailsVm$ | async as productDetails"
  class="flex justify-center pt-2"
>
  <div *ngIf="productDetails.product; else placeholder">
    <img
      [src]="productDetails.product.thumbnail"
      [alt]="productDetails.product.title"
    />
    <p>{{ productDetails.product.title }}</p>
    <p>{{ productDetails.product.price }}</p>
    <p>{{ productDetails.product.description }}</p>
    <p>{{ productDetails.product.category }}</p>

    <ng-container *ngIf="cartVm$ | async as cartVm">
      <button
        *ngIf="!cartVm.hasProduct(productDetails.product)"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        (click)="onClickAddToCart(productDetails.product)"
      >
        Add to cart
      </button>

      <button
        *ngIf="cartVm.hasProduct(productDetails.product)"
        type="button"
        class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2"
        (click)="onClickRemoveFromCart(productDetails.product)"
      >
        Remove from cart
      </button>
    </ng-container>
  </div>

  <ng-template #placeholder>
    <p *ngIf="productDetails.loading">Loading...</p>
    <p *ngIf="productDetails.error">Error : {{ productDetails.error }}</p>
  </ng-template>
</div>
