<div *ngIf="productDetailsVm$ | async as productDetails">
  <div *ngIf="productDetails.product; else placeholder">
    <img
      [src]="productDetails.product.thumbnail"
      [alt]="productDetails.product.title"
    />
    <p>{{ productDetails.product.title }}</p>
    <p>{{ productDetails.product.price }}</p>
    <p>{{ productDetails.product.description }}</p>
    <p>{{ productDetails.product.category }}</p>

    <ng-container *ngIf="cartVm$ | async as cartVm">
      <button
        *ngIf="!cartVm.hasProduct(productDetails.product)"
        class="btn btn--primary"
        (click)="onClickAddToCart(productDetails.product)"
      >
        Add to cart
      </button>

      <button
        *ngIf="cartVm.hasProduct(productDetails.product)"
        class="btn btn--primary"
        (click)="onClickRemoveFromCart(productDetails.product)"
      >
        Remove from cart
      </button>
    </ng-container>
  </div>

  <ng-template #placeholder>
    <p *ngIf="productDetails.loading">Loading...</p>
    <p *ngIf="productDetails.error">Error : {{ productDetails.error }}</p>
  </ng-template>
</div>
