<ng-container *ngIf="productListVm$ | async as productListVm">
  <app-product-list-header
    [query]="productListVm.query"
    (clickRefresh)="onClickRefresh()"
    (changeSearchQuery)="onChangeSearchQuery($event)"
  />
  <div class="products">
    <ng-container *ngIf="productListVm.products; else placeholder">
      <ng-container *ngIf="productListVm.products.length > 0; else noData">
        <app-product-card
          *ngFor="let product of productListVm.products; trackBy: trackById"
          [product]="product"
          [addedToCart]="(cartVm$ | async)?.hasProduct(product) ?? false"
          (click)="onClick(product)"
          (clickAddToCart)="onClickAddToCart(product)"
          (clickRemoveFromCart)="onClickRemoveFromCart(product)"
        />
      </ng-container>

      <ng-template #noData>
        <p>No products, yet.</p>
      </ng-template>
    </ng-container>

    <ng-template #placeholder>
      <p *ngIf="productListVm.loading !== null">Loading...</p>
      <p *ngIf="productListVm.error">Error : {{ productListVm.error }}</p>
    </ng-template>
  </div>

  <app-pagination
    [initialPage]="productListVm.pageStart"
    [initialSize]="productListVm.limit"
    [page]="productListVm.page"
    [total]="productListVm.total"
    (changePage)="onChangePage($event)"
    (changeSize)="onChangeLimit($event)"
  />
</ng-container>
